<vg-player id="demo-player">
  <vg-ima-ads
    [vgCompanion]="'companion-ad'"
    [vgCompanionSize]="[300, 250]"
    [vgNetwork]="'6062'"
    [vgUnitPath]="'iab_vast_samples'"
    [vgAdTagUrl]="'https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dskippablelinear&correlator='"
    [vgSkipButton]="'.skip-button'">
  </vg-ima-ads>

  <video #myMedia
         [vgMedia]="myMedia"
         id="my-video"
         src="http://static.videogular.com/assets/videos/videogular.mp4"
         type="video/mp4">
  </video>
</vg-player>
<div class="skip-button">custom skip ad button</div>
<div id="companion-ad" style="width: 300px; height: 250px;"></div>

<router-outlet></router-outlet>
